@font-face {
  font-family: 'Faustina-Bold';
  src: url(../fonts/Faustina-Bold.ttf);
}

@font-face {
  font-family: 'Gugi';
  src: url(../fonts/Gugi-Regular.ttf);
}

body {
  background: #ffffff;
}

#root {
  margin-top: 1vw;
}
.header-title {
  display: flex;
  justify-content: left;
  font-family: 'Gugi';
}

.header-title img{
  width: 30px;
}

button:disabled {
  cursor: not-allowed;
}

.btn {
  background-color: #305065;
  color: white;
  font-family: 'Faustina-Bold';
}
  
.btn:hover {
  background-color:#305065d0;
}

.btn:active {
  transform: translate(0px, 1px);
}

.activeBtn {
  background-color:#5bc895;
}

.index_table {
    background-color: #958fba;
    color: white;
}

.user-list {
  margin-top: 2vw;
}

#user-active {
  background-color:rgba(0,0,0,.1);  
}
  
.page-item {
  background-color: #305065;
  color: white;
  border: solid 1px white;
  padding: 0.5vw 0.5vw;
}

.page-item:hover {
  background-color: #305065d0;
  color: #fff;
  cursor: pointer;
}

.page-item-active {
  background-color: #5bc895;
  color: #fff;
  border: solid 1px #3aa573;
  padding: 0.5vw 0.5vw;
}

#message {
  padding-top: 1vw;
  display: flex;
  justify-content: center;
  font-family: 'Faustina-Bold';
}

#button {
  padding-top: 2vw;
}

#search-bar {
  padding-top: 10px;
  padding-bottom: 10px;
}
#search {
  width: 15px;
}

.user-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#activeUser{
  margin-top: 2vw;
}

#load {
  width: 150px;
}

#folder{
  width: 50px;
}

#sad {
  width: 50px;
}
#alert{
  text-align: center;
  display: none;
}

#loading {
  text-align: center;
}

#content {
  display: none;
}

.user td, th {
  cursor: pointer;
  font-size: 1vw;
}

@media screen and (max-width: 1020px) {
  .user td, th {
    font-size: 2.7vw;
  }
  .active-user-cont {
    font-size: 3.7vw;
  }
  
}

tr th {
  cursor: pointer;
}

.form-inline {
  margin-top: 20px;
}

.addUser {
  height: 100%;
}

#page-numbers {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}